<h2> List of Instrument types </h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @types.each do |type| %>
      <tr>
        <td><%= link_to type.name, type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user and current_user.admin? == true %>
  <%= link_to('New Instrument Type', new_type_path, class:"btn btn-primary") %>
<% end %>
