<p id="notice"><%= notice %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @types.each do |type| %>
      <tr>
        <td><%= link_to type.name, type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Type', new_type_path %>
