<h2> List of Instrument setups </h2>
<p> On this page you find various usermade instrument setups. These setups can, for example, help you at producing a certain genre of music or to achieve certain sounds. </p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Made by</th>
    </tr>
  </thead>
  <tbody>
    <% @instrument_setups.each do |setup| %>
      <tr>
        <td><%= link_to setup.name, setup %></td>
        <td><%= link_to setup.user.username, setup.user%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user %>
  <%= link_to('New Instrument Setup', new_instrument_setup_path, class:"btn btn-primary") %>
<% end %>
