<h1> Admin Panel </h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Function</th>
      </tr>
    </thead>
    <tbody>
      <tr><td> <%= link_to("New Instrument", new_instrument_path) %> </td></tr>
      <tr><td> <%= link_to("New Manufacturer", new_manufacturer_path) %> </td></tr>
      <tr><td> <%= link_to("New Instrument Type", new_type_path) %> </td></tr>
      <tr><td> <%= link_to("View Suggestions", suggestions_path) %> </td></tr>
    </tbody>
  </table>
