// Place all the styles related to the Instruments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main_image {
  margin-left: 0.5cm;
  margin-bottom: 0.5cm;
  float: right;
}
