<h1>Add Instrument</h1>

<%= form_for(@user_instrument) do |f| %>
  Select an instrument: <%= f.select :instrument_id, options_from_collection_for_select(@instruments - current_user.instruments | current_user.instruments - @instruments, :id, :to_s) %>
  <%= f.submit %>
<% end %>
