<h2> Pending suggestions </h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Topic</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <% @suggestions.each do |sugg| %>
      <tr>
        <td><%= link_to sugg.topic, sugg %></td>
        <td><%= link_to sugg.user.username, sugg.user%></td>
      </tr>
    <% end %>
  </tbody>
</table>
