<p>
  <h1><%= @suggestion.topic %></h1>
</p>

<p>
  <%= @suggestion.info %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @suggestion.user.username, @suggestion.user %>
</p>

<%= link_to('Delete suggestion', @suggestion, method: :delete, class:"btn btn-danger") %>
